body {
    background-color: white;
}

main {
    align-items: center;
}

.card {
    width: 510px;
    align-items: center;
    background-color: white;
    border-color: #ff6600;
    border-radius: 20px;
    border-width: 2px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 18px 0 rgba(0, 0, 0, 0.20);
    margin-top: 40px;
}

h3 {
    margin-bottom: 20px;
    text-align: center;
    color: darkgreen;
}

.home-btn {
    position: absolute;
    top: 30px;
    left: 30px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.20);
    border-radius: 15px;
    background-color: white;
    color: black;
    border-color: #ff6600;
}

.home-btn:hover {
    background-color: #ff6600;
    color: white;
    border-color: #ff6600;
}

.top-text {
    color: darkgreen;
}

.submit-btn {
    width: 400px;
    margin-bottom: 20px;
    background-color: white;
    border-color: #ff6600;
    color: black;
}

.submit-btn:hover {
    background-color: #ff6600;
    color: white;
    border-color: #ff6600;
}

.text-link {
    color: #ff6600;
    border: none;
    background-color: #ffffff;
    padding: 1px;
}

@media screen and (max-width: 600px) {
    .home-btn {
        top: 30px;
        margin: auto;
    }
}
